.comments-topic {
  display: flex;
  flex-direction: column;
  grid-template-columns: 20% 33% 20%;
  grid-template-rows: min-content auto min-content;
  box-shadow: 4px 4px 6px 0;
  border-radius: 4px;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  color: white;
  font-weight: 700;
  font-size: 17px;
  justify-content: center;
  background-color: rgba(240,248,255,.3);
  backdrop-filter: blur(8px);
}

.question {
  color: rgb(255, 0, 0);
  justify-content: center;font-weight: 700;
  font-size: 30px;
}
.comment4 {
  box-shadow: 4px 4px 6px 0;
  height: 150px;
  margin-bottom: 15px;
}

.comment3 {
  padding: 20px;
}

.buttons-crud{
  display: flex ;
  flex-direction: row;
  justify-content: center;
  
}

#edit-button {
  display: flex ;
  flex-direction: row;
  padding: 14px;
  border-radius: 10px;
  
}
#del-button {
  border-radius: 10px;
}

.comment-button {
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
}
